﻿

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PedidosNet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': abaProdutos}" ng-click="getProdutos()"><a href="#" target="_self">Produtos <span class="sr-only">(current)</span></a></li>
                    <li ng-class="{'active': abaMeusPedidos}" ng-click="getMeusPedidos()"><a href="#" target="_self">Meus Pedidos</a></li>
                </ul>
                <form class="navbar-form navbar-left" ng-hide="abaMeusPedidos">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="ProdutoConsulta.Descricao" placeholder="Buscar Produtos">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="buscarProduto()"><i class="fa fa-search" style="color:#777"></i> <span style="color:#777">Buscar</span></button>
                </form>
                <ul class="nav navbar-form navbar-right">
                    <li><i class="fa fa-user" style="color:#777"></i>&nbsp;&nbsp;<span style="color:#777">{{Cliente.Nome}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" ng-click="modalCarrinho()"><i class="fa fa-shopping-cart" style="color:#777"></i>&nbsp;<span class="badge top" style="background-color:red;" ng-show="qtdCarrinho">{{qtdCarrinho}}</span></button></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

